# Konfigurasi Server Backend
PORT=8080
FRONTEND_URL=http://localhost:3000

# Konfigurasi Database PostgreSQL
# Format: postgres://pengguna:password@host:port/nama_database?sslmode=disable
DATABASE_URL=postgres://postgres:postgres@localhost:5432/sivilize_trafik?sslmode=disable
